<div class="color">
    <!-- <p>{{accs | json}}</p> -->
    <ul>
        <li *ngFor="let acc of accs">
            <p *ngIf="acc.playlist">Username: {{acc.username}}</p>
            <ul *ngIf="acc.playlist">
                <li *ngFor="let playlist of acc.playlist">
                    <p>Playlist Name: {{playlist.playlistname}}</p>
                    <ul>
                        <li *ngFor="let song of playlist.songs">
                            <p>Song Name: {{song.songname}}</p>
                            <p>Artist: {{song.artist}}</p>
                            <p>Lyrics: {{song.lyrics}}</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <!-- <ul>
        <li *ngFor="let playlist of acc.playlist">
            <p>Playlist Name: {{playlist.playlistname}}</p>
            <ul>
                <li *ngFor="let song of playlist.songs">
                    <p>Song Name: {{song.songname}}</p>
                    <p>Artist: {{song.artist}}</p>
                    <p>Lyrics: {{song.lyrics}}</p>
                </li>
            </ul>
        </li>
    </ul> -->
</div>