<div class="container color">
  <form>
    <div class="form-group form centerDiv">
      <img id="image" src="../../../assets/images/concertpic2.jpeg" width="300" alt="Concert Photo">
      <h3 class="color center">Search by Lyrics</h3>
      <label for="lyrics"></label>
      <input type="text" class="form-control" #lyrics>
      <!-- <input type="text" class="form-control" [(ngModel)]="lyricSearch"> -->
      <button type="submit" class="btn btn-primary" (click)="byTheLyrics(lyrics.value); lyrics.value=''">Search</button>
    </div>
  </form>
</div>
<div class="container color" *ngIf="song">
  <p>{{song | json}}</p>
  
  <!-- <p>{{song}}</p> -->
  <form *ngIf="play">
    <div class="form-group form centerDiv">
      
      <select #playlistid>
        <option value="0">Select Playlist</option>
        <option *ngFor="let playlist of play" value={{playlist.id}}>{{playlist.playlistname}}</option>
      </select>
      <button type="submit" class="btn btn-primary" (click)="addSong(playlistid.value); playlistid.value=''">Add</button>
      <!-- <p>{{play | json}}</p> -->
    </div>
  </form>
</div>