<div id="main" class="container color center">
  <div class="row">
    <div class="col-sm-6">
      <h1>Welcome to 9999!</h1>
      <h5>If you've ever had a song in your head and only know a few lyrics, and don't know the artist, then you've come to the
        right place, and we're glad you're here!</h5>

      <img id="welcomeImage" src="../../../assets/images/concertpic4.jpeg" width="400" alt="Concert Photo">
    </div>
    <div class="col-sm-6">
      <img id="welcomeImage" src="../../../assets/images/concertpic3.jpeg" width="400" alt="Concert Photo">
      <h5>Sign up for an account to save your searched songs to a favorites list so you don't have to worry about forgetting!</h5>
    </div>
  </div>
</div>