<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <ul class="navbar-nav">
    <li>
      <img src="./assets/images/icons8-musical-notes-96.png" width="35" height="35" class="d-inline-block align-top" alt="">
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="home">HOME</a>
    </li>
    <li *ngIf=!currentUser>
      <a class="nav-link" routerLink="signup">SIGN UP</a>
    </li>
    <li *ngIf=!currentUser>
      <a class="nav-link" routerLink="login">LOG IN</a>
    </li>
    <li *ngIf=currentUser>
      <a class="nav-link" (click)='logout()'>LOG OUT</a>
    </li>
    <li>
      <a class="nav-link" routerLink="bylyrics">SEARCH BY LYRICS</a>
    </li>
    <li>
      <a class="nav-link" routerLink="bysong">SEARCH FOR A SONG</a>
    </li>
  </ul>
  <!-- <p *ngIf=currentUser>{{currentUser.username}}</p> -->
</nav>