<div class="color">
    <!-- <p>{{acc.playlist | json}}</p> -->
    <ul>
        <li *ngFor="let playlist of acc.playlist">
            <p>Playlist Name: {{playlist.playlistname}}</p>
            <ul>
                <li *ngFor="let song of playlist.songs">
                    <p>Song Name: {{song.songname}}</p>
                    <p>Artist: {{song.artist}}</p>
                    <p>Lyrics: {{song.lyrics}}</p>
                </li>
            </ul>
        </li>
    </ul>
    <form>
        <div class="form-group col-5">
            <label for="playlistName">Playlist Name</label>
            <input type="text" class="form-control" #playlistName required/>
            <button type='submit' class="btn btn-primary mr-1" (click)="createPlaylist(playlistName.value); playlistName.value=''">Add PlayList</button>
        </div>
    </form>
</div>