<h3 class="color center">Search for a Song</h3>
<div class="container color">
  <form>
    <div class="form-group form centerDiv">
      <label for="artist">Artist</label>
      <input type="text" class="form-control" [(ngModel)]="artistSearch">
    </div>
    <div class="form-group form centerDiv">
      <label for="song">Song</label>
      <input type="text" class="form-control" [(ngModel)]="songSearch">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
</div>